- content_for :title, "Bus Rambles"
.edgetoedge
  %ul
    - @buses.each do |comment|
      %li
        %p
          =h comment.transport.company if comment.transport.present?
          =h comment.vehicle_no
          =h comment.short_description
          ==added by #{comment.get_author} on #{comment.created_at.to_formatted_s(:date_time12)}
        %p
          - if comment.type == "Rave"
            %span.raveIcon
          - else
            %span.rantIcon
          %span.label
            =h comment.ramble