%h3 Buses
%span
  %a.button{:href=>"raves/new?category='Bus'"}
    %span.rave Rave
  %a.button{:href=>"rants/new?category='Bus'"}
    %span.rant Rant

%table
  %tr
    %th
      Rant/Rave
    %th
      Author
    %th
      Bus Company
    %th
      Bus Number
    %th
      Bus Info
    %th
      Ramble

  - @buses.each do |comment|
    %tr
      %td
        =h comment.type
      %td
        =h comment.author
      %td
        =h comment.transport.company
      %td
        =h comment.vehicle_driver_number
      %td
        =h comment.incident_info
      %td
        =h comment.ramble