.rectangle
  %h2 Buses
.triangle-l
.triangle-r
.buttons
  %span.bus
  %a.buttonRave{:href => "javascript: jQuery.facebox({ajax:'raves/new?category=Bus'});"}
    %span.rave
      ==Rave(#{@buses.type_equals('Rave').count})
  %a.buttonRant{:href => "javascript: jQuery.facebox({ajax:'rants/new?category=Bus'});"}
    %span.rant
      ==Rant(#{@buses.type_equals('Rant').count})
.info
  - @buses.each do |comment|
    %h2
      =h comment.transport.company if comment.transport.present?
      =h comment.vehicle_driver_number
      =h comment.incident_info
    %p
      - if comment.type == "Rave"
        %span.raveIcon
      - else
        %span.rantIcon
      =h comment.ramble
      %br
      %span.footer
        added by 
        %span.author
          =h comment.get_author
        on 
        =h comment.created_at.to_formatted_s(:date_time12)