.rectangle
  %h2 Ferries
.triangle-l
.triangle-r
.buttons
  %span.ferry
  %a.buttonRave{:href => "javascript: jQuery.facebox({ajax:'raves/new?category=Ferry'});"}
    %span.rave
      ==Rave(#{@ferries.type_equals('Rave').count})
  %a.buttonRant{:href => "javascript: jQuery.facebox({ajax:'rants/new?category=Ferry'});"}
    %span.rant
      ==Rant(#{@ferries.type_equals('Rant').count})
.info
  - @ferries.each do |comment|
    - if comment.type == "Rave"
      .raveHeader
        %h2
          =h comment.ferry_line.name if comment.ferry_line.present?
          =h comment.direction.name if comment.direction.present?
    - else
      .rantHeader
        %h2
          =h comment.ferry_line.name if comment.ferry_line.present?
          =h comment.direction.name if comment.direction.present?
    %p
      =h comment.ramble
      %br
      %span.footer
        added by 
        %span.author
          =h comment.get_author
          on 
          =h comment.created_at.to_formatted_s(:date_time12)