.rectangle
  %h2 Ferries
.triangle-l
.triangle-r
.buttons
  %span.ferry
  %a.buttonRave{:href=>"raves/new?category=Ferry"}
    %span.rave Rave
  %a.buttonRant{:href=>"rants/new?category=Ferry"}
    %span.rant Rant
.info
  - @ferries.each do |comment|
    %h2
      =h comment.transport_id
    %p
      - if comment.type == "rave"
        %span.raveIcon
      - else
        %span.rantIcon
      =h comment.ramble
      %br
      %span.footer
        added by 
        %span.author
          =h comment.author
        on 
        =h comment.created_at