Total Raves:
= @ferries.type_equals('rave').count
Total Rants:
= @ferries.type_equals('rant').count
.rectangle
  %h2 Ferries
.triangle-l
.triangle-r
.buttons
  %span.ferry
  %a.buttonRave{:href=>"raves/new?category=Ferry"}
    %span.rave Rave
  %a.buttonRant{:href=>"rants/new?category=Ferry"}
    %span.rant Rant
.info
  - @ferries.each do |comment|
    %h2
      =h comment.ferry_line.name
    %p
      - if comment.type == "Rave"
        %span.raveIcon
      - else
        %span.rantIcon
      =h comment.direction.name
      %br
      =h comment.ramble
      %br
      %span.footer
        added by 
        %span.author
          =h comment.author
        on 
        =h comment.created_at.to_formatted_s(:date_time12)