.rectangle
  %h2 Trains
.triangle-l
.triangle-r
.buttons
  %span.train
  %a.buttonRave{:href => "javascript: jQuery.facebox({ajax:'raves/new?category=Train'});"}
    %span.rave
      ==Rave(#{@trains.type_equals('Rave').count})
  %a.buttonRant{:href => "javascript: jQuery.facebox({ajax:'rants/new?category=Train'});"}
    %span.rant
      ==Rant(#{@trains.type_equals('Rant').count})
.info
  - @trains.each do |comment|
    - if comment.class.name == "Rave"
      .raveHeader
        %h2
          =h comment.train_line.name if comment.train_line.present?
          =h comment.direction.name if comment.direction.present?
    - else
      .rantHeader
        %h2
          =h comment.train_line.name if comment.train_line.present?
          =h comment.direction.name if comment.direction.present?
    %p
      =h comment.ramble
      %br
      %span.footer
        added by 
        %span.author
          =h comment.get_author
        on 
        =h comment.created_at.to_formatted_s(:date_time12)