=render :partial => 'header'

#container
  #feed.grid_4=render :partial => 'buses'
  #feed.grid_4=render :partial => 'trains'
  #feed.grid_4=render :partial => 'trains'
  .clear

=render :partial => 'footer'