=render :partial => 'header'
#feeds
  %ul
    %li
      =render :partial => 'buses'
    %li
      "TEST"
      /=render :partial => 'drivers'
    %li
      "TEST"
      /=render :partial => 'taxis'
    %li
      "TEST"
      /=render :partial => 'trains'
=render :partial => 'footer'