=render :partial => 'header'
.container
  %div#feedBox.feed_1
    =render :partial => 'buses'
  %div.feed_2
    =render :partial => 'buses'
  %div.feed_3
    =render :partial => 'buses'
=render :partial => 'footer'