=render :partial => 'header'
%ul
  %li
    =render :partial => 'buses'
  %li
    =render :partial => 'drivers'
  %li
    =render :partial => 'taxis'
  %li
    =render :partial => 'trains'
=render :partial => 'footer'