- content_for :title, "Trambles"
=render :partial => 'header'

#container
  #feed.grid_4=render :partial => 'buses'
  #feed.grid_4=render :partial => 'ferries'
  #feed.grid_4=render :partial => 'trains'
  .clear

=render :partial => 'footer'