- content_for :title, "Train Rambles"
.edgetoedge
  %ul
    - @trains.each do |comment|
      %li
        %p
          =h comment.train_line.name if comment.train_line.present?
          =h comment.direction.name if comment.direction.present?
          ==added by #{comment.get_author} on #{comment.created_at.to_formatted_s(:date_time12)}
        %p
          - if comment.type == "Rave"
            %span.raveIcon
          - else
            %span.rantIcon
          =h comment.ramble