- content_for :title, "Ferry Rambles"
.edgetoedge
  %ul
    - @ferries.each do |comment|
      %li
        %p
          =h comment.ferry_line.name if comment.ferry_line.present?
          ==added by #{comment.get_author} on #{comment.created_at.to_formatted_s(:date_time12)}
        %p
          - if comment.type == "Rave"
            %span.raveIcon
          - else
            %span.rantIcon
          =h comment.ramble