- content_for :title, "Trambles Info"
%h1 About this App

%ul
  %li
    rara rarara rarara

%h1 OcuNecu
%ul
  %li
    OcuNecu are awesome

%h2 davidtongconsulting
%ul
  %li
    davidtongconsulting is awesome